* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



body {
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background:url('images/bg_1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);   
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5)
}

.register {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 540px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5)
}

.login-form label {
   
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
}
.avatar {
position: absolute;
width: 80px;
height: 80px;
border-radius: 50%;
overflow: hidden;
top: calc(-80px/2);
left: calc(50% - 40px);
}

.login-form h2, .register h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.msg{
    position: absolute;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.login-form p, .register p {
    margin: 0;
    padding: 0 0 20px;
    font-weight: bold;
    color: #fff;
}

.login-form input, .register input{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #dee0e4;
        /* border-radius: 25px; */
}

.login-form input[type="text"] 
.login-form input[type="password"] {
    border: none;
    border-bottom: ipx solid #fff;
    background: transparent;
    outline: none;
    height: 100px;
    color: #fff;
    font-size: 18px;
}

.register input[type="text"] 
.register input[type="password"] {
    border: none;
    border-bottom: ipx solid #fff;
    background: transparent;
    outline: none;
    height: 100px;
    color: #fff;
    font-size: 18px;
}

.login-form input[type="submit"], .register input[type="submit"] {
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 15%;
}

.login-form a, .register a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

}

.login-form .links a.active, .register .links a.active {
    border-bottom: 3px solid #3274d6;
    color: #3274d6;
}