{% block content %}
<img src="C:\Users\hp\final_app\application\uploads\electron-mini-logo_1.jpg" />

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.name }}
    {{ form.photo }}
    {% for error in form.photo.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}

    {% if file_url %}
    <br>
    <img src="{{ file_url }}">
    
    {% endif %}
    <p><input type="submit" name="btn" value="Upload"></p>
</form>
{% endblock %}