<!DOCTYPE html>
<html>
    
<head>
<title>View Profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css') }}"> 
</head>

<body>

    <script src="/static/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/js/bootstrap.min.js"> 

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">User Profile</h4>
                    </div>
                    <div class="card-body">    
                        <form action="" method="POST" enctype="multipart/form-data">
                            {{ form.csrf_token() }}
                            {% for field in form if field.name != "csrf_token" %}     

                            {% if field.name == "full_name" %}
                            <div class="row">
                                <div class="col-md-6 px-1">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            {% elif field.name == "gender" %}    
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(name="inlineRadioOptions") }}
                                    </div>
                                </div>
                                <div class="col-md-2"> 
                                    <img src="{{ image_file }}" alt="No Image" class="img-thumbnail" width="140" height="140"> 
                                </div>
                            </div>
                            {% elif field.name == "date_added" %}                          
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }} 
                                    </div>
                                </div>
                            {% elif field.name == "telephone_no" %}          
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }} 
                                    </div>
                                </div>
                               
                            </div>
                            {% elif field.name == "address" %}   
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }} 
                                    </div>
                                </div>
                            {% elif field.name == "a_o_residence" %}          
                                <div class="col-md-3 pl-1">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }} 
                                    </div>
                                </div>     
                            </div>
                            {% elif field.name == "d_o_birth" %}  
                            <div class="row">
                                <div class="col-md-3 pr-1">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}  
                                    </div>
                                </div>
                            {% elif field.name == "age" %}      
                                <div class="col-md-2 px-1">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            {% elif field.name == "m_status" %}    
                                <div class="col-md-5 pl-1">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(name="inlineRadioOptions") }}
                                    </div>
                                </div>
                            </div>
                            {% elif field.name == "no_children" %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            {% elif field.name == "occupation" %}    
                                <div class="col-md-8 pl-1">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>    
                            </div>
                            {% elif field.name == "l_o_educ" %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            {% elif field.name == "p_o_work" %} 
                                <div class="col-md-5">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>   
                            </div>
                            {% elif field.name == "employer" %}
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                                {% elif field.name == "nationality" %}    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            {% elif field.name == "tribe" %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                                {% elif field.name == "clan" %}    
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            {% elif field.name == "ch_born" %}
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                                {% elif field.name == "f_faith" %}    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                                {% elif field.name == "d_o_baptism" %}    
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            </div> 
                            {% elif field.name == "ch_of_baptism" %}
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                                {% elif field.name == "ch_family" %}    
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            {% elif field.name == "l_o_AY" %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            {% elif field.name == "lang_spoken" %}
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            {% elif field.name == "skills" %}
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            </div> 
                            {% elif field.name == "inc_projects" %}
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            {% elif field.name == "hobbies" %}
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            {% elif field.name == "ch_programs" %}
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        {{ field.label(class_="control-label") }}
                                        {{ field(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                                {% else %}
                                    <p>{{ field.label() }}</p>
                                    <p>{{ field }}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </p>
                                {% endif %}

                            {% endfor %}                  
                            <button type="submit" class="btn btn-info">save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

