<!-- create a folder named templates, put this file into it -->
<!DOCTYPE html>
<title>Departmental</title>
<body>
<h1>Edit Members</h1>

<form method="POST" action="">
    {{ form.csrf_token() }}
    {% for field in form if field.name != "csrf_token" %}

        <p>{{ field.label() }}</p>
            {{ field }}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </p>        
    {% endfor %}
    <p><input type="submit" name="btn" value="submit"></p>    
</form>
{{ member.name}}
{{ member.position }}
</body>
</html>